<html lang="en" xmlns:ng="http://angularjs.org" ng-app="selvieRemote">

<head>
	<title>[[.Title]]</title>
	<style>
		th,td {
			padding-right: 20px;
			padding-bottom: inherit;
		}
	</style>
</head>

<body>
	<h1>[[.Title]]</h1>

	<div ng-controller="checkboxController">
		<table>
			<thead>
				<tr>
					<th>client id</th><th>device</th><th>toggle record</th><th> get log</th><th>erase</th><th>status</th>
				</tr>
			</thead>
			<tbody>
				<tr style="padding-bottom: 20px;color:red;">
					<td colspan="2">ALL CONNECTED PHONES</td>
					<td>
						<input type="checkbox" ng-model="recordOnAll" ng-click="checkAll('record')" />
					</td>
					<td>
						<input type="checkbox" ng-model="postLogOnAll" ng-click="checkAll('log')" />
					</td>
					<td>
						<input type="checkbox" ng-model="wipeOnAll" ng-click="checkAll('wipe')" />
					</td>
				</tr>
				<tr ng-repeat="(key, value) in ConnectedPhones">
					<td>{{value.client_id}} </td> <td> {{value.device}} </td>
					<td>
						<input type="checkbox" ng-model="value.Record" ng-click="check(key, 'record')"/>
					</td>
					<td>
						<input type="checkbox" ng-model="value.Log" ng-click="check(key, 'log')"/>
					</td>
					<td>
						<input type="checkbox" ng-model="value.Wipe" ng-click="check(key, 'wipe')"/>
					</td>
					<td> {{value.status}} </td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
		connectedDevices = [[.Clients]];
	</script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>

</html>
